<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>JSP Test Example</title>
</head>
<body>

<!--파일 업로드 -> 클라이언트의 하드디스크에 있는 파일을 서버에 올리는 것-->
<!--이떄 일반 입력데이터와 파일을 같이 올릴 수도 있고, 파일만 올릴수도 있다. 이떄 반드시 POST 방식 요청이어야 함-->
<!--요청 파라미터로 요청 방식이 갈떄 인코딩 타입을 바꾸어 주어야 함 (서버에게 전송되는 파라미터의 인코딩 타입)-->
<!--작성자의 이름을 담고있는 파트, 나이를 담고 있는 파트 등 각각의 파트로 구성 -->
<!--requestbody안에 담기는 요청 파라미터는 multipart/formdata형식이 되도록 정의 해주어야 함-->

<!--uploadForm1은 static html의 역할과 VIEW의 역할을 모두한다.-->
<h2>SpringMVC FileUpload</h2>
<hr>
<!--msg라는 이름의 value가 왔느냐에 따라 브라우저화면에 렌더링되는것이 달라짐.-->
<!--unless => msg라는 이름으로 전달된 데이터가 없다면 (else 역할) 얘가 응답함-->

<!--메서드 속성을 생략하면 기본값은 GET -> GET으로는 파일 업로드를처리할 수 없음. multipart를 처리하기 위해서는 POST방식이어야 함-->
<form th:unless="${ msg }" action="/upload1"  enctype="multipart/form-data" method="post">
	<!--		FileVO1에는 uploadFile이라는 멤버변수가 있어야 함-->

	<input type="file" name="uploadFile" />
	<input type="submit" value="업로드"/>
</form>

<!--msg라는 이름으로 전달된 데이터가 존재하면 얘가 출력됨-->
<h2 th:if="${ msg }" th:text="${ msg }"></h2>
</body>
</html>


